node_modules
.pnpm-store
.env
.env.*
!.env.example
.dist
output
.nuxt
.next
coverage
.DS_Store
apps/*/node_modules
apps/*/.nuxt
apps/*/.output
apps/*/dist
apps/*/coverage
packages/*/node_modules
.claude/
.planning/
